  {% extends 'Home/base.html' %}
{% load static %}
{% block content %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg px-4">
  <div class="logo-section">
    <div class="logo-glow-container">
      <img src="https://cdn-icons-png.flaticon.com/512/2889/2889676.png" alt="AuthVault Logo">
    </div>
    <div class="logo-title">AuthVault</div>
  </div>
  
</nav>

<div class="container-fluid mt-3">
  <div class="row align-items-center">
    <!-- Floating Image -->
    <div class="col-md-6 text-center">
      <img src="{% static 'images/lock_img.png'  %}"  alt="Secure Lock"  height="500" width="500" class="floating-img spinning-logo">
    </div>

    <!-- Form Section -->
    <div class="col-md-6">
      <div class="auth-card">
        <h2 class="auth-title">Login Account</h2>

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'login'  %}">
          {% csrf_token %}

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username"
                   placeholder="Enter your username"
                    required />
          </div>

          <div class="mb-3">
            <label for="pin" class="form-label">PIN</label>
            <input type="password" name="pin" class="form-control" id="pin"
                   placeholder="Your secure PIN" required />
          </div>


          <button type="submit" class="btn btn-submit w-100">Log In</button>

          <div class="link-text mt-3">
            <small>Don't have an account? <a href="{% url 'signUp' %}" class="text-info">Sign up here</a></small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer>
  &copy; 2025 AuthVault. All rights reserved.
</footer>

{% endblock content %}



        
     